
.flexed {
    background-image: url("../img/main-topic-image.jpeg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 870px;
    height: 387px;
    background-position-y: -335px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, open-sans, sans-serif, courier-std, monospace;;
}
.semiopacity {
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar {
    display: flex;
    background-color: #1d2124;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    color: white;
    line-height: 53px;
}
.navbar-logotype {
    display: inline-block;
}
.navbar-menu-item {
    display: inline-block;
    padding: 0 15px;
}
.navbar-menu-item:hover {
    background: #1A1D20;
}
.navbar-menu-link {
    text-decoration: none;
    color: white;

}
.navbar-logotype-image {
    background: #1a1d20;
    border: 1px solid #1A1D20;
    padding: 11px;
    position: absolute;
    left: 0;
}
.navbar-logotype-name {
    display: inline-block;
    position: relative;
    left: 53px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;

}
.navbar-logotype-text {
    text-transform: none;
}
.navbar-menu {
    flex: 1;
}
.navbar-search {
    background: #171a1c;
    width: 55px;
    height: 47px;
    padding: 3px;
    cursor: pointer;
}
.header {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: open-sans, sans-serif, courier-std, monospace;
    height: 265px;
}
.header-topic {
    margin-top: 108px;
    margin-bottom: 42px;
}
.subscribe-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #89ca62;
    padding: 20px 21px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
    transition: .5s;
}
.subscribe-btn:hover {
    background-color: #77b55a;
}
.best-articles-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #14b9d5;
    padding: 20px 32px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
    transition: .5s;
}
.best-articles-btn:hover {
    background-color: #0688fa;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.most-popular-post-section {
    display: flex;
    flex-direction: column;
    max-height: 850px;
    flex-wrap: wrap;
}
.most-popular-post-background-container {
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    position: relative;
    bottom: 39px;
    padding-top: 43px;
    padding-bottom: 50px;
}
.section-title {
    font-family: open-sans, sans-serif, courier-std, monospace;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18b4cf;
    text-align: center;
    margin-bottom: 52px;
}
.most-popular-post-box {
    margin-bottom: 30px;
    max-width: 370px;
    background-color: #ffffff;
}
.most-popular-post-text {
    font-size: 17px;
    font-weight: bold;
    color: #353a3d;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.grid-part {
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 590px;
    margin-top: 1020px;
}
.most-popular-clients-box {
    display: grid;
    margin: 0 auto;
    width: 881px;
    grid-template-areas: "f1 f1 f1 f1" "a b c d";
}
.underline::after {
    content: "";
    background-color: #169cb4;
    height: 3px;
    width: 70px;
    display: block;
    margin: 50px auto 57px;
    border-radius: 1px;
}
.f1 {
    grid-area: f1;
    font-family: open-sans, sans-serif, courier-std, monospace;
    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 200px;
}
.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.top-rated {
    padding-top: 50px;
}
.top-rated-grid-box .section-title {
    font-size: 22px;
}
.top-rated-grid-box {
    margin: 0 auto;
    display: grid;
    max-width: 1902px;
    min-width: 1200px;
    height: 120px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "a1 a2 a3 a4 a5 a6 a7 ";
}
.a1 {
    grid-area: a1;
}
.a2 {
    grid-area: a2;
}
.a3 {
    grid-area: a3;
}
.a4 {
    grid-area: a4;
}
.a5 {
    grid-area: a5;
}
.a6 {
    grid-area: a6;
}
.a7 {
    grid-area: a7;
}

/*Hot News*/
.hot-news {
    padding-top: 60px;
    padding-bottom: 70px;
}
.hot-news-grid-container img {
    vertical-align: middle;
}
.hot-news-grid-container {
    display: grid;
    grid-row-gap: 43px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px 418px 418px 259px;
    grid-template-areas: "b1 b1 b1 b2" "b3 b3 b4 b4" "b5 b5 b6 b6" "b7 b8 b8 b8";
}
.hot-news-grid-box:nth-child(1) {
    grid-area: b1;
}
.hot-news-grid-box:nth-child(2) {
    grid-area: b2;
    padding-left: 15px;
}
.hot-news-grid-box:nth-child(3) {
    grid-area: b3;
    padding-right: 30px;
}
.hot-news-grid-box:nth-child(4) {
    grid-area: b4;
    padding-left: 30px;
}
.hot-news-grid-box:nth-child(5) {
    grid-area: b5;
    padding-right: 30px;
}
.hot-news-grid-box:nth-child(6) {
    grid-area: b6;
    padding-left: 30px;
}
.hot-news-grid-box:nth-child(7) {
    grid-area: b7;
}
.hot-news-grid-box:nth-child(8) {
    grid-area: b8;
}
.hot-news-grid-box {
    display: grid;
}
.hot-news-grid-box--small {
    grid-template-rows: 210px auto;
}
.hot-news-grid-box--medium {
    grid-template-rows: 259px auto;
}
.hot-news-grid-box--big {
    grid-template-columns: 483px auto;
}
.hot-news-post {
    background-color: #f9f7f7;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    color: #353a3d;
}
.hot-news-grid-box-title {
    font-size: 18px;
    font-weight: 700;
}
.hot-news-grid-box-text {
    font-size: 15px;
    text-align: right;
    margin: 0 24px;
}
.hot-news-grid-box--big .hot-news-grid-box-title {
    margin-top: 40px;
    margin-right: 24px;
    margin-bottom: 20px;
    text-align: right;
}
.hot-news-grid-box--medium .hot-news-grid-box-title {
    margin-top: 20px;
    margin-right: 24px;
    margin-bottom: 20px;
    text-align: right;
}
.hot-news-grid-box--small .hot-news-grid-box-title{
    margin-top: 15px;
    text-align: center;
}
.hot-news-grid-box:nth-of-type(7) .hot-news-post {
    margin-right: 15px;
}

/*FOOTER*/
.footer{
    background-color: #1A1D20;
}
.footer-grid-box{
    display: grid;
    height: 80px;
    grid-template-columns:  24fr 1fr 1fr;
    grid-template-areas: "f11 f12 f13";
    justify-content: space-between;
    align-items: center;
}
.rights-reserved-inform{
    font-size: 13px;
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    color: #ffffff;
}
.f11{
    grid-area: f11;
}
.f12{
    grid-area: f12;
}
.f13{
    grid-area: f13;
}

